<div id="cta_cta-button">
  <h2 class="rich-text__heading--large section-header__title h1"> {{ section.settings.text-box }} </h2>
  <a href="{{ section.settings.link }}" class="button">{{ section.settings.linktext }}</a>
</div>

{% schema %}

{
    "name": "Call to action button",
    "settings": [
      {
        "id": "text-box",
        "type": "text",
        "label": "Heading",
        "default": "Heading"
      },
      {
        "id": "link",
        "type": "url",
        "label": "Button link"
      },
      {
        "id": "linktext",
        "type": "text",
        "label": "Button text",
        "default": "Click here"
      }
    ],
    "presets": [
      {
        "name": "CTA - Button and Header",
        "category": "Call To Action"
      }
    ]
  }

{% endschema %}

{% stylesheet %}

#cta_cta-button {
    display: flex;
    flex-direction: column!important;
    align-items: center;
    justify-items: center;
    text-align: center;
	margin: 3rem auto;
}

#cta_cta-button .button {
    font-family: Lora, serif;
    display: inline-block;
	  margin-top: 1rem;
    padding: 12px 20px;
    font-size: 13px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background-color: #1f2021;
    border: none;
    border-radius: 0.62em;
    transform: translateY(0em);
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    -ms-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
}

#cta_cta-button .button:hover {
    background-color: #3d3f41!important;
    color: #fff;
    transform: translateY(-0.25em);
}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
