<section id="qa_sections" class="services_qa">
    {% for block in section.blocks %}
        <div class="qa_section">
            <div class="qa_icon">
                ?
            </div>
            <div class="qa_inner">
                <h3>{{ block.settings.header }}</h3>
                <p>{{ block.settings.content }}</p>
            </div>
        </div>
    {% endfor %}
</section>

{% schema %}

{
"name":"QA Sections",
"blocks":[
   {
      "type":"section",
      "name":"QA Section",
      "settings":[
         {
            "id": "header",
            "type": "text",
            "label": "Question",
            "default": "Header Goes Here"
         },
         {
            "id": "content",
            "type": "richtext",
            "label": "Answer"
         }
      ]
   }
],
"presets":[
   {
      "name":"QA Section",
      "category":"Services"
   }
]
}

{% endschema %}

{% stylesheet %}

.services_qa {
	margin: 4rem 0;
    padding: 0 10%;
}

.services_qa .qa_section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem 1rem;
}

.services_qa .qa_section .qa_icon {
    background: #27abe5;
    height: 4rem;
    width: 70px;
    max-width: 70px;
    min-width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 3rem;
    border-radius: 100%;
    margin: 0 2rem;
}

.services_qa .qa_section .qa_inner h3 {
    text-transform: unset;
    font-weight: 800;
    text-transform: none;
    letter-spacing: .5px;
    font-size: 24px;
    line-height: 34px;
}

@media screen and (max-width: 768px) {
    .services_qa .qa_section {
        flex-direction: column;
        padding: 0.5rem;
    }

    .services_qa .qa_section .qa_icon {
        margin: 2rem;
    }
}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
